<nav>
    <ul>
        <li><a href="/dashboard/journal" action>Journal</a></li>
        <li><a href="/dashboard/data" action>Data</a></li>
        <li><a class="selected" href="/dashboard">Find Fish!</a></li>
        <li><a href="/dashboard/log">Log</a></li>
        <li><a href="/dashboard/forum">Forum</a></li>
        <li><a href="/logout" action>Log out</a></li>
    </ul>
</nav>
<h1>Find Fish</h1>
<form>
    <h3>Enter today's conditions...</h3>
    <input type="text" placeholder="Tempature" name="temp">
    <input type="text" placeholder="Wind Speed" name="windspeed">
    <select name="weatherCondition">
        <option value="sunny">Sunny</option>
        <option value="pc">Partly Cloudy</option>
        <option value="cloudy">Cloudy</option>
        <option value="rain">Rainy</option>
    </select>
    <input type="text" placeholder="Tide" name="tide">
    <input type="wave-height" placeholder="Wave Height" name="waveHeight">
    <input type="targetfish" placeholder="Targeted Fish" name="targetFish">
    <button type="submit" name="submit">Find me fish!</button>
</form>