<nav>
    <ul>
        <li><a href="/dashboard/journal" action>Journal</a></li>
        <li><a href="/dashboard/data" action>Data</a></li>
        <li><a href="/dashboard">Find Fish!</a></li>
        <li><a href="/dashboard/log">Log</a></li>
        <li><a class="selected" href="/dashboard/forum">Forum</a></li>
        <li><a href="/logout" action>Log out</a></li>
    </ul>
</nav>

<div id="forum-container">
    <h1>Forum</h1>

</div>