<nav>
    <ul>
        <li><a href="/dashboard/journal" action>Journal</a></li>
        <li><a href="/dashboard/data" action>Data</a></li>
        <li><a href="/dashboard">Find Fish!</a></li>
        <li><a href="/dashboard/log">Log</a></li>
        <li><a class="selected" href="/dashboard/forum">Forum</a></li>
        <li><a href="/logout" action>Log out</a></li>
    </ul>
</nav>

<div id="forum-container">
    <h1>Forum</h1>

<!-- temporary forum post skeleton -->

    <form id ="postForm"> 

		<label for = "image"> Submit a picture!</label>
			<input type="file" id = "image" accept="image/*"> 
			<br>
		<label for = "caption"> Insert a caption! </label>
			<input type="text" id = "caption">
			<br>
			<button type ="submit"> Post! </button>
	</form>
	<br>
	<div id="posts">  
		<div id="post"> </div>
	</div>


</div>



<script src ="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/public/forum.js"></script>