<!DOCTYPE html>
<html lang = "en">
<head> 
	<title> Website </title>
</head>

<body> 
	<a href="/createAccount" action> Create Account </a>
	<br>
	<a href="/login" action> Already have an account? Click here to login! </a>
	<br>
	<a href="/action/post" action> Post Something! </a>
	<br>
	<a href="/action/logfish" action> Log Your fish! </a>
	<h1> This is the homepage! </h1>


	<form action ="/" method = "POST" id ="createAccount-form" >
		<label for="firstname" class="labeln"> Search a Fish! </label>
			<input type = "text" id = "firstname" name="firstname">

</body>
