<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <title>FishFinder</title>
    </head>
<body>
    <main>
        <nav>
            <ul>
                <li><a class="selected" href="/dashboard/journal" action>Journal</a></li>
                <li><a href="/dashboard/data">Data</a></li>
                <li><a href="/dashboard" action>Find Fish!</a></li>
                <li><a href="/dashboard/log">Log</a></li>
                <li><a href="/dashboard/forum">Forum</a></li>
                <li><a href="/logout" action>Log out</a></li>
            </ul>
        </nav>
        <div id="journal_container">
            <h1>Your Fish Journal</h1>
            <ul>
                <li>
                    <div class="journal_entry">
                        <p>Date: 1/11/19</p>
                        <p>Location: Seaside Park</p>
                        <p>Fish Caught: 3</p>
                        <p>Fish Types: Striper(2), Bluefish(1)</p>
                        <p>Weather: Sunny, 46&deg;F</p>
                        <p>Ocean Conditions: High Tide, 3-4ft Waves</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script type="text/javascript" src="../public/login.js"></script>
</body>
</html>